In [4]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,f_regression
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression

In [6]:
df = pd.read_csv('cgpa_marks_package.csv')

In [7]:
df

     cgpa  Interview_marks  package
0    6.89               26     3.26
1    5.12               38     1.98
2    7.82               40     3.25
3    7.42                8     3.67
4    6.94               17     3.57
..    ...              ...      ...
195  6.93               44     2.46
196  5.89               34     2.57
197  7.21               27     3.24
198  7.63               44     3.96
199  6.22               25     2.33

[200 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cgpa             200 non-null    float64
 1   Interview_marks  200 non-null    int64
 2   package          200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

In [9]:
x=df.iloc[:,0:2]
x

     cgpa  Interview_marks
0    6.89               26
1    5.12               38
2    7.82               40
3    7.42                8
4    6.94               17
..    ...              ...
195  6.93               44
196  5.89               34
197  7.21               27
198  7.63               44
199  6.22               25

[200 rows x 2 columns]

In [10]:
y=df.iloc[:,-1]
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [11]:
# Step 1 -> train/test/split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
#Feature selection
trf1 = SelectKBest(score_func=f_regression,k='all')

In [13]:
# train the model
trf2 = LinearRegression()

In [14]:
pipe = Pipeline([
    ('trf1',trf1),
    ('trf2',trf2)
])

In [15]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('trf1',
                 SelectKBest(k='all',
                             score_func=<function f_regression at 0x0000022F5BD254C0>)),
                ('trf2', LinearRegression())])

In [16]:
# Display Pipeline

from sklearn import set_config
set_config(display='diagram')

In [17]:
y_pred = pipe.predict(X_test)

In [18]:
y_pred

array([2.77845955, 3.14160026, 3.20734619, 2.38036202, 3.52974712,
       3.76449415, 3.15824896, 2.5421193 , 3.1817722 , 3.50316981,
       1.90824936, 2.32657338, 3.69986184, 2.76754969, 3.45819615,
       3.03982801, 2.33556485, 3.19213628, 2.18792593, 3.31479111,
       2.45396374, 2.90735488, 3.31057929, 2.87289973, 3.33879394,
       2.19519182, 1.41835231, 2.71849658, 3.1697046 , 2.3339937 ,
       3.71168676, 2.96055362, 3.68993324, 2.96258231, 2.59588588,
       3.34032097, 2.46801591, 3.0617139 , 4.17352359, 2.96840941])

In [19]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7728210195275479

In [20]:
# cross validation using cross_val_score
from sklearn.model_selection import cross_val_score
cross_val_score(pipe, X_train, y_train, cv=5, scoring='r2').mean()

0.7660048177074449

In [21]:
# export 
import pickle
pickle.dump(pipe,open('pipe1.pkl','wb'))