In [124]:
import numpy as np
import pandas as pd

In [125]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [127]:
x=df[['cgpa']]
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [128]:
y=df[['package']]
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [129]:
from sklearn.model_selection import train_test_split

In [130]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,train_size=0.8)

In [131]:
x_train

     cgpa
178  8.15
76   6.94
179  7.14
54   6.86
188  7.35
..    ...
150  6.30
61   5.48
118  7.40
96   7.11
48   8.63

[160 rows x 1 columns]

# Linear regression

In [132]:
from sklearn.linear_model import LinearRegression

In [133]:
lr=LinearRegression()

In [134]:
lr.fit(x_train,y_train)

LinearRegression()

In [135]:
a=lr.predict(x_test)

In [136]:
from sklearn.metrics import r2_score
lrr2=r2_score(y_test,a)

In [137]:
from sklearn.metrics import mean_squared_error
lrr_mse=mean_squared_error(y_test,a)
lrr_mse

0.1410125783847052

In [138]:
import numpy as np
lrr_rmse=np.sqrt(lrr_mse)
lrr_rmse

0.3755164155995117

In [139]:
from sklearn.metrics import mean_absolute_error
lrr_mae=mean_absolute_error(y_test,a)
lrr_mae

0.303929263457562

# Random Forest Regression

In [140]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100,random_state=0)
rfr.fit(x_train,y_train)

C:\Users\CS-L2-PC04\AppData\Local\Temp\ipykernel_3660\4077294850.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [141]:
b=lr.predict(x_test)
#b

In [142]:
rfrr2=r2_score(y_test,b)

In [143]:
from sklearn.metrics import mean_squared_error
rfrr_mse=mean_squared_error(y_test,a)
rfrr_mse

0.1410125783847052

In [144]:
import numpy as np
rfrr_rmse=np.sqrt(rfrr_mse)
rfrr_rmse

0.3755164155995117

In [145]:
from sklearn.metrics import mean_absolute_error
rfrr_mae=mean_absolute_error(y_test,a)
rfrr_mae

0.303929263457562

# support vector regression

In [146]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
svr=SVR(kernel='rbf')
svr.fit(x_train,y_train)

C:\Users\CS-L2-PC04\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [147]:
c=svr.predict(x_test)

In [148]:
svrr2=r2_score(y_test,c)

In [149]:
from sklearn.metrics import mean_squared_error
svrr_mse=mean_squared_error(y_test,a)
svrr_mse

0.1410125783847052

In [150]:
import numpy as np
svrr_rmse=np.sqrt(svrr_mse)
svrr_rmse

0.3755164155995117

In [151]:
from sklearn.metrics import mean_absolute_error
svrr_mae=mean_absolute_error(y_test,a)
svrr_mae

0.303929263457562

# Lasso Regression

In [152]:
from sklearn.linear_model import Lasso
la=Lasso(alpha=3.0)
la.fit(x_train,y_train)

Lasso(alpha=3.0)

In [153]:
d=la.predict(x_test)
#d

In [154]:
lar2=r2_score(y_test,d)
lar2

-0.01760570963831265

In [155]:
from sklearn.metrics import mean_squared_error
lar_mse=mean_squared_error(y_test,a)
lar_mse

0.1410125783847052

In [156]:
import numpy as np
lar_rmse=np.sqrt(lar_mse)
lar_rmse

0.3755164155995117

In [157]:
from sklearn.metrics import mean_absolute_error
lar_mae=mean_absolute_error(y_test,a)
lar_mae

0.303929263457562

# comparing all types of regression

In [158]:
ser1=['Linear regression','Random Forest Regression','support vector regression','Lasso Regression']
ser2=[lrr2,rfrr2,svrr2,lar2]
ser3=[lrr_mse,rfrr_mse,svrr_mse,lar_mse]
ser4=[lrr_rmse,rfrr_rmse,svrr_rmse,lar_rmse]
ser5=[lrr_mae,rfrr_mae,svrr_mae,lar_mae]
df=pd.DataFrame({'regression type':ser1,'r2_score':ser2,'mse':ser3,'rmse':ser4,'mae':ser5})
df

             regression type  r2_score       mse      rmse       mae
0          Linear regression  0.587325  0.141013  0.375516  0.303929
1   Random Forest Regression  0.587325  0.141013  0.375516  0.303929
2  support vector regression  0.606331  0.141013  0.375516  0.303929
3           Lasso Regression -0.017606  0.141013  0.375516  0.303929