In [241]:
import numpy as np
import pandas as pd

In [242]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [244]:
x=df[['cgpa']]
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [245]:
y=df[['package']]
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [246]:
from sklearn.model_selection import train_test_split

In [247]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,train_size=0.8)

In [248]:
x_train

     cgpa
54   6.86
10   5.32
26   8.31
180  6.19
75   6.97
..    ...
107  6.33
144  6.17
125  7.33
13   6.93
171  8.01

[160 rows x 1 columns]

# Linear regression

In [249]:
from sklearn.linear_model import LinearRegression

In [250]:
lr=LinearRegression()

In [251]:
lr.fit(x_train,y_train)

LinearRegression()

In [252]:
a=lr.predict(x_test)

In [253]:
from sklearn.metrics import r2_score
lrr2=r2_score(y_test,a)

In [254]:
from sklearn.metrics import mean_squared_error
lrr_mse=mean_squared_error(y_test,a)
lrr_mse

0.1324747449559014

In [255]:
import numpy as np
lrr_rmse=np.sqrt(mse)
lrr_rmse

0.2816213643900935

In [256]:
from sklearn.metrics import mean_absolute_error
lrr_mae=mean_absolute_error(y_test,a)
lrr_mae

0.2913512779024444

# Random Forest Regression

In [257]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100,random_state=0)
rfr.fit(x_train,y_train)

C:\Users\CS-L2-PC04\AppData\Local\Temp\ipykernel_10148\4077294850.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [258]:
b=lr.predict(x_test)
#b

In [259]:
rfrr2=r2_score(y_test,b)

In [260]:
from sklearn.metrics import mean_squared_error
rfrr_mse=mean_squared_error(y_test,a)
rfrr_mse

0.1324747449559014

In [261]:
import numpy as np
rfrr_rmse=np.sqrt(mse)
rfrr_rmse

0.2816213643900935

In [262]:
from sklearn.metrics import mean_absolute_error
rfrr_mae=mean_absolute_error(y_test,a)
rfrr_mae

0.2913512779024444

# support vector regression

In [263]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
svr=SVR(kernel='rbf')
svr.fit(x_train,y_train)

C:\Users\CS-L2-PC04\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [264]:
c=svr.predict(x_test)

In [265]:
svrr2=r2_score(y_test,c)

In [266]:
from sklearn.metrics import mean_squared_error
svrr_mse=mean_squared_error(y_test,a)
svrr_mse

0.1324747449559014

In [267]:
import numpy as np
svrr_rmse=np.sqrt(mse)
svrr_rmse

0.2816213643900935

In [268]:
from sklearn.metrics import mean_absolute_error
svrr_mae=mean_absolute_error(y_test,a)
svrr_mae

0.2913512779024444

# Lasso Regression

In [269]:
from sklearn.linear_model import Lasso
la=Lasso(alpha=3.0)
la.fit(x_train,y_train)

Lasso(alpha=3.0)

In [270]:
d=la.predict(x_test)
#d

In [271]:
lar2=r2_score(y_test,d)
lar2

-0.02519542024789745

In [272]:
from sklearn.metrics import mean_squared_error
lar_mse=mean_squared_error(y_test,a)
lar_mse

0.1324747449559014

In [273]:
import numpy as np
lar_rmse=np.sqrt(mse)
lar_rmse

0.2816213643900935

In [274]:
from sklearn.metrics import mean_absolute_error
lar_mae=mean_absolute_error(y_test,a)
lar_mae

0.2913512779024444

# comparing all types of regression

In [275]:
ser1=['Linear regression','Random Forest Regression','support vector regression','Lasso Regression']
ser2=[lrr2,rfrr2,svrr2,lar2]
ser3=[lrr_mse,rfrr_mse,svrr_mse,lar_mse]
ser4=[lrr_rmse,rfrr_rmse,svrr_rmse,lar_rmse]
ser5=[lrr_mae,rfrr_mae,svrr_mae,lar_mae]
df=pd.DataFrame({'regression type':ser1,'r2_score':ser2,'mse':ser3,'rmse':ser4,'mae':ser5})
df

             regression type  r2_score       mse      rmse       mae
0          Linear regression  0.776207  0.132475  0.281621  0.291351
1   Random Forest Regression  0.776207  0.132475  0.281621  0.291351
2  support vector regression  0.769683  0.132475  0.281621  0.291351
3           Lasso Regression -0.025195  0.132475  0.281621  0.291351