import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [52]:
df.isnull().sum()

cgpa       0
package    0
dtype: int64

In [53]:
df.shape

(200, 2)

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
x=pd.DataFrame(df.iloc[:,0])
y=pd.DataFrame(df.iloc[:,1])

In [56]:
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [57]:
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [58]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,train_size=0.8)

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
lr=LinearRegression()

In [61]:
lr.fit(x_train,y_train)

LinearRegression()

In [62]:
lr.predict(x_test)

array([[3.99097055],
       [3.81152369],
       [3.17149655],
       [3.67992932],
       [1.55049324],
       [3.50646402],
       [2.30417006],
       [3.72778182],
       [3.54833496],
       [4.22425147],
       [3.39879591],
       [2.1247232 ],
       [3.28514623],
       [2.34604099],
       [3.47057465],
       [3.23729373],
       [2.71091627],
       [3.20738592],
       [3.66198464],
       [2.96812344],
       [3.1954228 ],
       [3.78759744],
       [3.09373624],
       [3.18345967],
       [2.68699003],
       [3.18345967],
       [2.05892601],
       [2.58530347],
       [3.05784687],
       [3.07579156],
       [4.12256491],
       [2.87840001],
       [3.24327529],
       [1.86751603],
       [3.53039027],
       [3.53637183],
       [2.96812344],
       [3.86535775],
       [2.96214188],
       [2.68699003]])