In [31]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [34]:
df.isnull().sum()

cgpa       0
package    0
dtype: int64

In [35]:
df.shape

(200, 2)

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x=pd.DataFrame(df.iloc[:,0])
y=pd.DataFrame(df.iloc[:,1])

In [38]:
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [39]:
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,train_size=0.8)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
lr=LinearRegression()

In [43]:
lr.fit(x_train,y_train)

LinearRegression()

In [44]:
a=lr.predict(x_test)

In [45]:
a

array([[2.94058347],
       [2.53822326],
       [3.54987178],
       [2.92908746],
       [2.69916735],
       [3.5843598 ],
       [2.18759509],
       [2.2220831 ],
       [3.23373162],
       [2.84861542],
       [3.25097563],
       [2.59570329],
       [2.23357911],
       [2.76814338],
       [4.1879001 ],
       [4.3718362 ],
       [3.33144767],
       [3.50963576],
       [2.86585943],
       [2.15885507],
       [2.03814701],
       [2.46349923],
       [2.72215936],
       [1.90594294],
       [2.33704316],
       [3.1992436 ],
       [2.50948325],
       [3.17050359],
       [2.73365536],
       [2.77963939],
       [3.63609182],
       [3.7912879 ],
       [3.22798362],
       [2.62444331],
       [3.27396764],
       [3.36018768],
       [4.11892407],
       [2.91759146],
       [2.96357548],
       [3.73955588]])

In [46]:
x_test

     cgpa
41   6.89
190  6.19
100  7.95
35   6.87
157  6.47
171  8.01
82   5.58
136  5.64
118  7.40
6    6.73
39   7.43
176  6.29
147  5.66
78   6.59
164  9.06
40   9.38
148  7.57
184  7.88
141  6.76
162  5.53
10   5.32
124  6.06
67   6.51
44   5.09
145  5.84
34   7.34
22   6.14
129  7.29
24   6.53
99   6.61
31   8.10
52   8.37
119  7.39
62   6.34
71   7.47
104  7.62
12   8.94
74   6.85
13   6.93
149  8.28

In [47]:
y_test

     package
41      2.70
190     2.69
100     4.14
35      2.87
157     2.70
171     3.76
82      2.17
136     2.10
118     2.88
6       2.60
39      3.33
176     3.23
147     2.21
78      2.21
164     3.82
40      4.02
148     3.40
184     3.14
141     3.18
162     2.55
10      1.86
124     2.31
67      2.89
44      1.86
145     2.18
34      3.42
22      2.30
129     3.12
24      2.71
99      3.24
31      3.89
52      4.11
119     2.65
62      2.09
71      3.34
104     3.74
12      3.65
74      3.44
13      2.89
149     3.67

In [48]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,a)

0.2512728869337556

In [49]:
from sklearn.metrics import r2_score
r2_score(y_test,a)

0.7662253768342039

In [50]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,a)
mse

0.09734439596645121

In [51]:
import numpy as np
rsme=np.sqrt(mse)
rsme

0.3120006345609752