# column transformation

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df=pd.read_csv('dataset/covid.csv')
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [4]:
df[['fever']]

    fever
0   103.0
1   100.0
2   101.0
3    98.0
4   101.0
..    ...
95  104.0
96  101.0
97  101.0
98   98.0
99   98.0

[100 rows x 1 columns]

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# 1.Aam Zindagi

In [21]:
#adding simple imputer to fewer col
si=SimpleImputer()
df_fever=si.fit_transform(df[['fever']])
df_fever.shape

(100, 1)

In [11]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
df_cough=oe.fit_transform(df[['cough']])
df_cough.shape

(100, 1)

In [13]:
ohe=OneHotEncoder(drop='first',sparse=False)
df_gender_city=ohe.fit_transform(df[['gender','city']])
df_gender_city.shape

(100, 4)

In [14]:
df_age=df.drop(columns=['gender','fever','cough','city']).values
df_age.shape

(100, 2)

In [22]:
df_transformed=np.concatenate((df_age,df_fever,df_gender_city,df_cough),axis=1)
#also the text data
df_transformed.shape
#df_transformed

(100, 8)

In [23]:
#new_df=pd.dataframe(df_transformed,columns=df.columns)

# Mentos Zindagi

In [24]:
from sklearn.compose import ColumnTransformer

In [29]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [30]:
transformer.fit_transform(df).shape

(100, 8)

In [33]:
#transformer.get_feature_names()

In [34]:
#transformer=ColumnTransformers(transformers=[
#    ('tnf1,OrdinalEncoder(sparse=False,drop='first'),['gender','city'])
#],remainder='passthrough')

In [ ]:
#newdf=pd.Dataframe(transformer.fit)