In [37]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df=pd.read_csv('dataset/demo.csv')
df

    Roll_No Result
0         1   pass
1         2   Fail
2         3     FC
3         4     SC
4         5   DIST
..      ...    ...
95       96   Fail
96       97     FC
97       98     SC
98       99   DIST
99      100   pass

[100 rows x 2 columns]

In [39]:
df1 = df.iloc[:,1:2]
df1

   Result
0    pass
1    Fail
2      FC
3      SC
4    DIST
..    ...
95   Fail
96     FC
97     SC
98   DIST
99   pass

[100 rows x 1 columns]

In [40]:
from sklearn.preprocessing import OrdinalEncoder

In [41]:
oe=OrdinalEncoder(categories=[['Fail','pass','SC','FC','DIST']])

In [42]:
oe.fit(df1)

OrdinalEncoder(categories=[['Fail', 'pass', 'SC', 'FC', 'DIST']])

In [43]:
df2=oe.transform(df1)

In [44]:
df2=pd.DataFrame(df2,columns=df1.columns)

In [45]:
df2

    Result
0      1.0
1      0.0
2      3.0
3      2.0
4      4.0
..     ...
95     0.0
96     3.0
97     2.0
98     4.0
99     1.0

[100 rows x 1 columns]