In [5]:
from pandas import DataFrame
df=DataFrame([
                 ['Aryan','singh','full time','administartion',2,2000],
                 ['rohan','agarwal','intern','technical',3,5000],
                 ['riya','shah','full time','administration',5,10000],
                 ['yash','bhatia','part time','technical',7,10000],
                 ['sidhant','khanna','full time','administration',6,20000],
                ]
    ,columns=['first name','last name','type','department','YoE','salary']



                )
df

  first name last name       type      department  YoE  salary
0      Aryan     singh  full time  administartion    2    2000
1      rohan   agarwal     intern       technical    3    5000
2       riya      shah  full time  administration    5   10000
3       yash    bhatia  part time       technical    7   10000
4    sidhant    khanna  full time  administration    6   20000