# import MySQL Connector

In [1]:
import mysql.connector as con

# connection to database

In [2]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F07C8D8220>

# creating database

In [3]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root"
)
my_cursor = new_db.cursor()
my_cursor.execute("CREATE DATABASE college")

# check database created

In [4]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root"
)
my_cursor = new_db.cursor()
my_cursor.execute("SHOW DATABASES")
for a in my_cursor:
    print(a)

('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# creating table and show data

In [8]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root",
    database= "college"
)
my_cursor = new_db.cursor()
query="CREATE TABLE marks (s1 varchar(20),s2 varchar(10))"
my_cursor.execute(query)

# list all tables in database

In [9]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root",
    database= "college"
)
my_cursor = new_db.cursor()
query="SHOW TABLES"
my_cursor.execute(query)
for n in my_cursor:
    print(n)

('marks',)
('students',)

# inserting data into tables

In [12]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root",
    database= "college"
)
new_cursor = new_db.cursor()
query = "INSERT INTO students (name,regno) VALUES (%s, %s)"
values = ('prajwal','393CS20022')
new_cursor.execute(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

1 new record inserted

# inserting multiple records into the table

In [15]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root",
    database= "college"
)
new_cursor = new_db.cursor()
query = "INSERT INTO students (name,regno) VALUES (%s, %s)"
values = [("tanishk","393CS20023"),
          ("avadhoot","393CS20013"),
          ("jahid","393CS20008"),
          ("nihal","393CS20012")
         ]
new_cursor.executemany(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

4 new record inserted

# display the records from tables

In [16]:
import mysql.connector as con
new_db=con.connect(
    host= "localhost",
    user= "root",
    password= "root",
    database= "college"
)
my_cursor = new_db.cursor()
query="SELECT * FROM students"
my_cursor.execute(query)
for n in my_cursor:
    print(n)

('prajwal', '393CS20022')
('prajwal', '393CS20022')
('tanishk', '393CS20023')
('avadhoot', '393CS20013')
('jahid', '393CS20008')
('nihal', '393CS20012')